{% extends 'base.html' %}

{% block content %}
<h2 class="text-2xl font-semibold mb-4 text-gray-800">Formulario de Contacto</h2>
<form method="post" class="bg-gray-100 shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
    {% csrf_token %}
    <div class="mb-4">
        <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
        {{ form.nombre }}
    </div>

    <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email address</label>
        {{ form.email }}
        <p class="text-gray-600 text-xs italic mt-1">We'll never share your email with anyone else.</p>
    </div>
    
    <div class="mb-4">
        <label for="mensaje" class="block text-gray-700 text-sm font-bold mb-2">Mensaje:</label>
        {{ form.mensaje }}
    </div>

    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition duration-200">
        Enviar
    </button>
</form>
{% endblock %}











